.deleteButton {
  background-color: rgb(247, 46, 46);
  width: 50px;
  border-radius: 5px;
  margin-left: 60%;
}

.edit {
  margin-right: 10px;
}

.study2 {
  background-color: rgba(50, 150, 238, 0.854);
  margin-right: 10px;
}

.createDeck2 {
  background-color: rgba(50, 150, 238, 0.854);
  margin-bottom: 10px;
}
