.deleteDeck {
  background-color: rgb(247, 46, 46);
  width: auto;
  border-radius: 5px;
  margin-left: 75%;
}

.edit {
  margin-right: 10px;
}

.study {
  background-color: rgba(50, 150, 238, 0.854);
  margin-left: 10px;
}

.createDeck {
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: rgba(50, 150, 238, 0.854);
}
